.modal-div{
    display: flex;
    flex-direction: column;
    color: white;
}

.modal-div button{
    font-family: 'Antic' , sans-serif;
    width: 50%;
    height: 2vw;
    margin: auto;
    background-color: #71858F;
    border: none;
    border-radius: 1vw;
    color: #F6E5BF;
    font-size: 1vw;
    outline:0;
}
.modal-div button:hover{
    background-color: #92acb9;
    transition: 0.2s;
}

.modal-div h3{
    font-family: 'Audiowide', cursive;
    font-size: 2vw;
    color: #F6E5BF;
}

.modal-div h4{
    font-family: 'Antic', sans-serif;
    font-size: 1.5vw;
    text-decoration: line-through;
    color: #A4A4A4;
}

.modal-title{
    text-align: center;
    padding: 1vw;
    font-size: 2vw;
    color: #F6E5BF;
}

.modal-item-div{
    display: flex;
    flex-direction: row;
}

.modal-item-desc{
    display: flex;
    flex-direction: column;
    margin-right: 4vw;
}

.modal-item-desc p{
    font-family: 'Antic', sans-serif;
    font-size: 1vw;
    padding: 2vw 0;
}

.modal-item-desc h2,h3,h4{
    text-align: center;
}

.modal-item-div img{
    max-width: 20vw;
    max-height: 20vw;
}

.modal-icons{
    color: white;
    padding: 2vw 8vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}